In [ ]:
# Import the necessary libraries
import pandas as pd
import sqlite3

In [ ]:
# We now connect to the sqLite database

db = sqlite3.connect('C:/Users\Ekeng ITA/Documents/ACME Software Lab Internship/Project 2/accident_data_v1.0.0_2023.db')

In [ ]:
# Extract data for the year 2020
query = """
SELECT *
FROM accident
WHERE accident_year = 2020
"""
df = pd.read_sql(query, db)

# Close the connection
db.close()

In [ ]:
df.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763

In [ ]:
df.to_csv('accident_data20.csv', index=False)